<mat-card class="card-class" *ngFor="let car of cars">
    <mat-card-header>
      <mat-card-title-group >
        <img mat-card-md-image src={{car.image}} >
        <mat-card-title>{{ car.brand }}</mat-card-title>
        <mat-card-subtitle>{{ car.type }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        {{ car.description }}
    </mat-card-content>
    <button mat-button color="primary" style="width: 20%;margin-bottom: 20px;margin-left: 20px;margin-top: 20px;"
     (click)="deleteCar(car.id)">Delete</button>
    
  </mat-card>